<div class="row justify-content-center">
        <div *ngIf="consultancy">
            <div id="consultancy-header" class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-8">

                        <span>{{ consultancy.doctor?.name }}</span>
                        <span>{{ consultancy.date | date }}</span>

                        <span>{{ consultancy.age }}</span>


                        <span>{{ consultancy.gender }}</span>

                        <span>{{ consultancy.impressions }}</span>

                        <span>{{ consultancy.country }}</span>

                        <h2>{{ consultancy.title }}</h2>

                        <span>{{ consultancy.consultancyType?.type}}</span>



                    </div>
                </div>
            </div>

            <jhi-alert-error></jhi-alert-error>



            <div class="card col-10">
                <span jhiTranslate="maganinApp.consultancy.question">Question</span>
                    <div class="card" [innerHTML]="consultancy.question">


                    </div>
            <span jhiTranslate="maganinApp.consultancy.answer">Answer</span>
            <div class="card"  [innerHTML]="consultancy.answer"></div>

            </div>

<div class="container col-4">

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>

    <button type="button"
            [routerLink]="['/consultancy-maganin', consultancy.id, 'edit']"
            class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
</div>








        </div>
</div>
