#consultancy-detail-main-container {
  padding: 25px;
  align-content: center;
  justify-content: space-evenly;
  font-family: PalatinoSans !important;
}
#consultancy-header {
}
#consultancy-type {
  background-color: #ffffff;
  border-radius: 25px;
  font-size: 1.5em;
  padding: 5px;
}
#QA-main-card {
  border-radius: 25px;
}
#Q-card {
  padding: 15px;
  border-radius: 25px;
}
#A-card {
  padding: 15px;
  background-color: #f1f2f3;
  border-radius: 25px;
}
