<div id="consultancy-detail-main-container" class="row justify-content-center">
        <div *ngIf="consultancy">
            <div id="consultancy-header" class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-sm-12">

                        <h2>{{ consultancy.title }}</h2>
                        <span id="consultancy-type">{{ consultancy.consultancyType}}</span>



                    </div>
                </div>
            </div>

            <jhi-alert-error></jhi-alert-error>



            <div id="QA-main-card" class="card col-lg-9 col-sm-11">
                <span jhiTranslate="maganinApp.consultancy.question">Question</span>

                <div id="asker-info" class="inline-flex">
                    <span>{{ consultancy.country }}</span>
                <span>{{ consultancy.age }}</span>

                <span>{{ consultancy.gender }}</span>

                </div>

                <div id="Q-card" class="card" [innerHTML]="consultancy.question | safeHtml">


                    </div>
            <span jhiTranslate="maganinApp.consultancy.answer">Answer</span>

                <span>{{ consultancy.doctor }}</span>

                <span>{{ consultancy.dateAdded | date }}</span>
                <span>{{ consultancy.impressions }}</span>

            <div  id="A-card" class="card"  [innerHTML]="consultancy.answer | safeHtml "></div>

            </div>

<div class="container col-4">

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>

    <button type="button"
            [routerLink]="['/consultancy-maganin', consultancy.id, 'edit']"
            class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
</div>








        </div>
</div>
