<div [ngSwitch]="isAdmin()" display="dynamic">
    <!--  -------------------------------------   non-admin view------------------------------------------------------------>

    <div *ngSwitchCase="false" display="dynamic">


        <div class="row">
            <!-- -------------------filter---------------------------->
            <div class="col-3">
                <div id="doctor-filter" class="container">
                </div>

                <div id="category-filter" class="container">
                </div>

            </div>
            <!-- ---------------consultancies with sort------------------------->

            <div jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">

                   <span class="card-footer-category-bubble" scope="col" jhiSortBy="impressions">
                       <span jhiTranslate="maganinApp.consultancy.impressions">
                           Impressions
                       </span>
                       <fa-icon icon="sort"></fa-icon>
                   </span>
            </div>
            <div jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
               <span scope="col" jhiSortBy="date">
                       <span jhiTranslate="maganinApp.consultancy.date">
                           date
                       </span>
                       <fa-icon icon="sort"></fa-icon>
                   </span>
            </div>
            <jhi-consultancy-summery-list class="col-10 " [listTitle]=""
                                          [consultancies]="consultancies "></jhi-consultancy-summery-list>

        </div>
    </div>
    <!--  -------------------------------------   admin view------------------------------------------------------------>

    <div *ngSwitchCase="true" display="dynamic">
        <h2 id="page-heading">
            <span jhiTranslate="maganinApp.consultancy.home.title">Consultancies</span>

            <button id="jh-create-entity"
                    class="btn btn-primary float-right jh-create-entity create-consultancy-maganin"
                    [routerLink]="['/consultancy-maganin/new']">
                <fa-icon icon="plus"></fa-icon>
                <span jhiTranslate="maganinApp.consultancy.home.createLabel">
            Create a new Consultancy
            </span>
            </button>
        </h2>

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <div class="alert alert-warning" id="no-result" *ngIf="consultancies?.length === 0">
            <span jhiTranslate="maganinApp.consultancy.home.notFound">No consultancies found</span>
        </div>

        <div class="table-responsive" id="entities" *ngIf="consultancies && consultancies.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>

                    <th scope="col" jhiSortBy="title"><span jhiTranslate="maganinApp.consultancy.title">Title</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="doctor"><span jhiTranslate="maganinApp.consultancy.doctor">Doctor</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="impressions"><span jhiTranslate="maganinApp.consultancy.impressions">Impressions</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="consultancyType.id"><span
                        jhiTranslate="maganinApp.consultancy.consultancyType">Consultancy Type</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let consultancy of consultancies ;trackBy: trackId">
                    <td><a [routerLink]="['/consultancy-maganin', consultancy.id, 'view']">{{ consultancy.id }}</a></td>
                    <td>{{ consultancy.title }}</td>
                    <td>{{ consultancy.doctor }}</td>
                    <td>{{ consultancy.impressions }}</td>
                    <td>{{ consultancy.consultancyType }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/consultancy-maganin', consultancy.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/consultancy-maganin', consultancy.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(consultancy)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div *ngIf="consultancies && consultancies.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
