.doctor-summery-list {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 250px;
  margin-top: 20px;
  background-color: #f0f0f0;
}
.doctor-summery-list {
  &::-webkit-scrollbar {
    display: none;
  }
}
jhi-doctor-card-summery {
  display: inline-block;
  text-align: center;
  padding: 14px;
  font-size: 1.5em;
  border: #00000029 1px solid;
}

jhi-doctor-card-summery:hover {
  background-color: #777;
}
