<mat-card *ngIf="articleSummery != undefined" class="article-summary col-sm-12 custom">

<div class="row card-body">
    <div class="col-12">
        <mat-card-title>
            <a [routerLink]="['/article-maganin', articleSummery.id, 'view']">{{ articleSummery.title }}</a>
        </mat-card-title>
    </div>
    <div class="col-11">
        <div class ="row">

            <div class = "col-12">

                <img mat-card-avatar class="author-card-photo" src="{{articleSummery.writerImageURL}}"/>
                <span class ="author-name">{{articleSummery.author}}</span>
            </div>
        </div>
        <mat-card-content>
<!--            <p [innerHTML] = "articleSummery.shortDesc">-->
<!--            </p>-->
            <jhi-read-more [text]="articleSummery.shortDesc" [maxLength]="250">

            </jhi-read-more>

        </mat-card-content>
    </div>


</div>
    <img mat-card-image class="custom" src="{{articleSummery.thumbnail}}" alt="{{articleSummery.articleCategory}}">


    <hr style="background-color: #02598C; margin: 0">
    <mat-card-footer>

        <div class="card-footer-date" style="direction: rtl">
            <span>{{articleSummery.dateLastMod  | date : "dd-MMMM-yyyy":"" : "ar-ly" | arNumber}}</span>
        </div>

        <div class ="card-footer-category-bubble">
        <span>
            {{articleSummery.articleCategory}}
        </span>
        </div>

        <div class="card-footer-impressions">
            <fa-icon icon="eye"></fa-icon>
            <span>{{articleSummery.impressions| arNumber}}</span>

        </div>
    </mat-card-footer>





  </mat-card>
