<div>
    <h2 id="page-heading">
        <span jhiTranslate="maganinApp.consultancyType.home.title">Consultancy Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-consultancy-type-maganin" [routerLink]="['/consultancy-type-maganin/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="maganinApp.consultancyType.home.createLabel">
            Create a new Consultancy Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="consultancyTypes?.length === 0">
        <span jhiTranslate="maganinApp.consultancyType.home.notFound">No consultancyTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="consultancyTypes && consultancyTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="maganinApp.consultancyType.type">Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consultancyType of consultancyTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/consultancy-type-maganin', consultancyType.id, 'view']">{{ consultancyType.id }}</a></td>
                    <td>{{ consultancyType.type }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/consultancy-type-maganin', consultancyType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/consultancy-type-maganin', consultancyType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(consultancyType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
