.author-card-photo {
  height: 30px;
  width: 30px;
}
mat-card-title {
  color: #02598c;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}
mat-card {
  background-color: #ffffff;
  color: #404040;
  display: inline-grid;
  letter-spacing: 0px;
  font-size: 10px;
  margin-bottom: 2em;
  padding: 0;
  border-radius: 25px;
  height: 500px;
}
.card-body {
  font-size: 1.3em;
}
mat-card-content {
  border-radius: 25px;
  background-color: #f0f0f0;
  margin-top: 10px;
  padding: 25px;
  line-height: 1.5em;
  text-align: justify;
  overflow: scroll;
  max-height: 65%;
  width: 100%;
}
p.question-container font {
  font-family: PalatinoSans !important;
}

.custom.mat-card-image {
  width: 100%;
  max-height: 250px;
  margin: 0px;
  border-radius: 10px 10px 0 0;
}

mat-card-footer {
  margin: 5px 25px;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card-footer-impressions {
  width: fit-content;
  float: left;
  color: #02598c;
  text-align: end;
  padding-right: 0;
}
.card-footer-category-bubble {
  width: fit-content;
  padding: 5px 10px;
  height: 25px;
  background-color: #f0f0f0;
  border-radius: 25px;
  color: #02598c;
  margin-right: 0.2em;
  display: initial;
}
.card-footer-date {
  width: fit-content;
  float: right;
  text-align: start;
  padding-left: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #02598c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
