<mat-card *ngIf="consultancySummery != undefined">

<div class="row card-body">
    <div class="col-12">
        <mat-card-title>
            <a [routerLink]="['/consultancy-maganin', consultancySummery.id, 'view']">{{ consultancySummery.title }}</a>
        </mat-card-title>
    </div>
        <div class ="row">

            <div class = "col-12">

<!--                <img mat-card-avatar class="author-card-photo" src="{{consultancySummery.writerImageURL}}"/>-->
                <span class ="author-name">{{consultancySummery.doctor}}</span>
            </div>
        </div>
        <mat-card-content class="custom">
            <p class="question-container" [innerHTML] = "consultancySummery.question"></p>
        </mat-card-content>
    </div>


<!--    <img mat-card-image class="custom" src="{{consultancySummery.thumbnail}}" alt="{{consultancySummery.articleCategory}}">-->


    <hr style="background-color: #02598C; margin: 0">
    <mat-card-footer>

        <div class="card-footer-date" style="direction: rtl">
            <span>{{consultancySummery.dateAdded  | date : "dd-MMMM-yyyy":"" : "ar-ly"}}</span>
        </div>

        <div class ="card-footer-category-bubble">
        <span>
            {{consultancySummery.consultancyType}}
        </span>
        </div>

        <div class="card-footer-impressions">
            <fa-icon icon="eye"></fa-icon>
            <span>{{consultancySummery.impressions}}</span>

        </div>
    </mat-card-footer>





  </mat-card>
