<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span jhiTranslate="maganinApp.category.detail.title">Category</span> {{ category.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="maganinApp.category.categoryTypeId">Category Type Id</span></dt>
                <dd>
                    <span>{{ category.categoryTypeId }}</span>
                </dd>
                <dt><span jhiTranslate="maganinApp.category.categoryName">Category Name</span></dt>
                <dd>
                    <span>{{ category.name }}</span>
                </dd>
                <dt><span jhiTranslate="maganinApp.category.parentId">Parent Id</span></dt>
                <dd>
                    <span>{{ category.parentId }}</span>
                </dd>
                <dt><span jhiTranslate="maganinApp.category.description">Description</span></dt>
                <dd>
                    <span>{{ category.description }}</span>
                </dd>
                <dt><span jhiTranslate="maganinApp.category.imageURL">Image URL</span></dt>
                <dd>
                    <span>{{ category.imageURL }}</span>
                </dd>
                <dt><span jhiTranslate="maganinApp.category.hideSearch">Hide Search</span></dt>
                <dd>
                    <span>{{ category.hideSearch }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category-maganin', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
