<mat-card role="group" *ngIf="doctor != undefined" class=" custom">

    <div class="row">
        <div class="col-12">
            <mat-card-title>
                <img mat-card-avatar class="doctor-photo" src="{{doctor.thumbnail}}"/>

            </mat-card-title>
        </div>
                <div class = "col-12">
                    <mat-card-content>

                    <a [routerLink]="['/doctor', doctor.id, 'view']">{{ doctor.name }}</a>
                        <br>
                    <span>{{doctor.name}}</span>
                    </mat-card-content>

                </div>
<!--                <p [innerHTML] = "doctor.shortDesc"></p>-->


    </div>






</mat-card>
