<div class="row">
    <div *ngIf="article">
        <div id="article-details-main-card" class=" col-11 card">
            <div id="article-header">
                <!-------------------------------- article top card --------------------------------------------->
                <mat-card class="custom">
                    <mat-card-title>{{article.articleCategory}}</mat-card-title>
                    <img mat-card-image [src]="article.thumbnail" class="custom img-fluid">


                    <mat-card-footer class="col-md-8 col-sm-12">
                        <span>
                            <img mat-card-avatar class="author-card-photo" src="{{article.writerImageURL}}"/>
                            <a href="{{article.relatedURL}}">{{ article.author }}</a>
                        </span>

                        <span>
                             {{ article.dateAdded | date : "dd-MMMM-yyyy" : "": "ar-ly"}}
                            <fa-icon icon="calendar-plus"></fa-icon>
                        </span>

                        <span>
                        {{ article.dateLastMod |date : "dd-MMMM-yyyy" : "": "ar-ly"}}
                            <fa-icon icon="edit"></fa-icon>
                        </span>

                        <div class="card-footer-impressions">
                            <span>{{article.impressions}}</span>
                            <fa-icon icon="eye"></fa-icon>
                        </div>

                        <fa-icon icon="share-alt"></fa-icon>
                    </mat-card-footer>


                </mat-card>

                <h2 class="article-header-title col-12">{{ article.title }}</h2>

            </div>
            <!-------------------------------- article top card end  --------------------------------------------->


            <jhi-alert-error></jhi-alert-error>


            <div class="article-content col-lg-8 col-md-10" [innerHTML]="article?.longDesc |safeHtml"></div>


            <!--                    <span>{{ article.avgRating }}</span>-->


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" *ngIf="isAdmin()"
                    [routerLink]="['/article-maganin', article.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

        </div>
        <div class="col-10 card-group" style="margin: 20px">
            <span> التعليقات  </span>
            <div class="row">
                <div *ngFor="let comment of article?.comments" class="card col-7 ">
                    <div class="article-comment-title ">
                        {{comment.title}}
                    </div>
                    <div class="article-comment-body" [innerHTML]="comment.body"></div>

                </div>
            </div>
        </div>

    </div>
</div>


