<div>
    <h2 id="page-heading">
        <span jhiTranslate="maganinApp.article.home.title">Articles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-article-maganin" [routerLink]="['/article-maganin/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="maganinApp.article.home.createLabel">
            Create a new Article
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="articles?.length === 0">
        <span jhiTranslate="maganinApp.article.home.notFound">No articles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="articles && articles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="maganinApp.article.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="author"><span jhiTranslate="maganinApp.article.author">Author</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="relatedURL"><span jhiTranslate="maganinApp.article.relatedURL">Related URL</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateAdded"><span jhiTranslate="maganinApp.article.dateAdded">Date Added</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shortDesc"><span jhiTranslate="maganinApp.article.shortDesc">Short Desc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="impressions"><span jhiTranslate="maganinApp.article.impressions">Impressions</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="avgRating"><span jhiTranslate="maganinApp.article.avgRating">Avg Rating</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thumbnail"><span jhiTranslate="maganinApp.article.thumbnail">Thumbnail</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateLastMod"><span jhiTranslate="maganinApp.article.dateLastMod">Date Last Mod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of articles ;trackBy: trackId">

                    <td><a [routerLink]="['/article-maganin', article.id, 'view']">{{ article.title }}</a></td>
                    <td>{{ article.author }}</td>
                    <td>{{ article.relatedURL }}</td>
                    <td>{{ article.dateAdded | date:'medium' }}</td>
                    <td><div [innerHTML]="article.shortDesc"></div></td>
                    <td>{{ article.impressions }}</td>
                    <td>{{ article.avgRating }}</td>
                    <td>{{ article.thumbnail }}</td>
                    <td>{{ article.dateLastMod | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/article-maganin', article.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/article-maganin', article.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(article)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="articles && articles.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
