#articles-grid {
  align-items: baseline;
}

.carousel-img {
  height: 500px;
  width: 100%;
  z-index: -1;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  text-align: center;
}

mat-card {
  position: relative;
  background-color: #ffffff;
  color: #404040;
  letter-spacing: 0px;
  font-size: 10px;
  //padding: 10px 5px;
  border-radius: 25px;
  margin: 10px 5px;
}
.card-body {
  font-size: 1.2em;
  padding: 10px;
}
mat-card-content {
  margin-top: 10px;
  line-height: 1.5em;

  min-height: 17%;
  width: 95%;
  text-align: justify;
}
.custom.mat-card-image {
  width: 100%;
  max-height: 100px;
  margin: 0px;
}

mat-card-footer {
  margin: 5px 10px;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card-footer-impressions {
  width: fit-content;
  float: left;
  color: #02598c;
  text-align: end;
  padding-right: 0;
}
.card-footer-category-bubble {
  width: fit-content;
  padding: 5px 10px;
  height: 25px;
  background-color: #f0f0f0;
  border-radius: 25px;
  color: #02598c;
  margin-right: 1em;
  display: inline-block;
}
.card-footer-date {
  width: fit-content;
  float: right;
  text-align: start;
  padding-left: 0;
}
