<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="content">
            <h2><span jhiTranslate="dukesdesignsApp.content.detail.title">Content</span> {{ content.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dukesdesignsApp.content.userId">User Id</span></dt>
                <dd>
                    <span>{{ content.userId }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.contentTypeID">Content Type ID</span></dt>
                <dd>
                    <span>{{ content.contentTypeID }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.title">Title</span></dt>
                <dd>
                    <span>{{ content.title }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.author">Author</span></dt>
                <dd>
                    <span>{{ content.author }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.relatedURL">Related URL</span></dt>
                <dd>
                    <span>{{ content.relatedURL }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.dateAdded">Date Added</span></dt>
                <dd>
                    <span>{{ content.dateAdded }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.shortDesc">Short Desc</span></dt>
                <dd>
                    <span>{{ content.shortDesc }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.longDesc">Long Desc</span></dt>
                <dd>
                    <span [innerHTML] = "content.longDesc"></span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.display">Display</span></dt>
                <dd>
                    <span>{{ content.display }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.accessLevel">Access Level</span></dt>
                <dd>
                    <span>{{ content.accessLevel }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.expire">Expire</span></dt>
                <dd>
                    <span>{{ content.expire }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.priority">Priority</span></dt>
                <dd>
                    <span>{{ content.priority }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.impressions">Impressions</span></dt>
                <dd>
                    <span>{{ content.impressions }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.clickThrus">Click Thrus</span></dt>
                <dd>
                    <span>{{ content.clickThrus }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.avgRating">Avg Rating</span></dt>
                <dd>
                    <span>{{ content.avgRating }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.ratings">Ratings</span></dt>
                <dd>
                    <span>{{ content.ratings }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.thumbnail">Thumbnail</span></dt>
                <dd>
                    <span>{{ content.thumbnail }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.image1">Image 1</span></dt>
                <dd>
                    <span>{{ content.image1 }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.dateEnd">Date End</span></dt>
                <dd>
                    <span>{{ content.dateEnd }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.keywords">Keywords</span></dt>
                <dd>
                    <span>{{ content.keywords }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.creationsType">Creations Type</span></dt>
                <dd>
                    <span>{{ content.creationsType }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.wazn">Wazn</span></dt>
                <dd>
                    <span>{{ content.wazn }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.country">Country</span></dt>
                <dd>
                    <span>{{ content.country }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.dateLastMod">Date Last Mod</span></dt>
                <dd>
                    <span>{{ content.dateLastMod }}</span>
                </dd>
                <dt><span jhiTranslate="dukesdesignsApp.content.categoryID">Category ID</span></dt>
                <dd>
                    <div *ngIf="content.categoryID">
                        <a [routerLink]="['/category', content.categoryID?.id, 'view']">{{ content.categoryID?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/content', content.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
