<div>
    <h2 id="page-heading">
        <span jhiTranslate="dukesdesignsApp.content.home.title">Contents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-content" [routerLink]="['/content/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="dukesdesignsApp.content.home.createLabel">
            Create a new Content
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contents?.length === 0">
        <span jhiTranslate="dukesdesignsApp.content.home.notFound">No contents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contents && contents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.userId">User Id</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.contentTypeID">Content Type ID</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.author">Author</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.relatedURL">Related URL</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.dateAdded">Date Added</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.shortDesc">Short Desc</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.impressions">Impressions</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.clickThrus">Click Thrus</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.avgRating">Avg Rating</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.keywords">Keywords</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.creationsType">Creations Type</span></th>
                    <th scope="col" ><span jhiTranslate="dukesdesignsApp.content.dateLastMod">Date Last Mod</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let content of contents ;trackBy: trackId">
                    <td><a [routerLink]="['/content', content.id, 'view']">{{ content.id }}</a></td>
                    <td>{{ content.userId }}</td>
                    <td>{{ content.contentTypeID }}</td>
                    <td>{{ content.title }}</td>
                    <td>{{ content.author }}</td>
                    <td>{{ content.relatedURL }}</td>
                    <td>{{ content.dateAdded | date:'mediumDate' }}</td>
                    <div [innerHTML]="content.shortDesc"></div>
                    <td>{{ content.impressions }}</td>
                    <td>{{ content.clickThrus }}</td>
                    <td>{{ content.avgRating }}</td>
                    <td>{{ content.keywords }}</td>
                    <td>{{ content.creationsType }}</td>
                    <td>{{ content.dateLastMod | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="content.categoryID">
                            <a [routerLink]="['/category', content.categoryID?.id, 'view']" >{{ content.categoryID?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/content', content.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/content', content.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(content)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
